<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="username">手机号(用户名)：</label>
      </div>
      <div class="col-md-8">
        <div id="username">
          {{currentUser?.username}}&nbsp;
          <a class="btn btn-primary btn-sm1 mr-2" routerLink="/personal/modifyPhone">
            <i class="fas fa-edit"></i>
            修改
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="name">姓名：</label>
      </div>
      <div class="col-md-8">
        <div id="name">
          {{currentUser?.name}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="jobNumber">工号：</label>
      </div>
      <div class="col-md-8">
        <div id="jobNumber">
          {{currentUser?.jobNumber}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="sex">性别：</label>
      </div>
      <div class="col-md-8">
        <div id="sex">
          {{currentUser?.sex | sex}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="certificateNumber">证件号码：</label>
      </div>
      <div class="col-md-8">
        <div id="certificateNumber">
          {{currentUser?.certificateNumber}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="roles">角色：</label>
      </div>
      <div class="col-md-8">
        <span id="roles" class="mr-2" *ngFor="let role of currentUser?.roles">
          {{role.name}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="colleges">学院：</label>
      </div>
      <div class="col-md-8">
         <span id="colleges" class="mr-2" *ngFor="let college of currentUser?.colleges">
          {{college.name}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="courses">命题科目：</label>
      </div>
      <div class="col-md-8">
        <span id="courses" class="mr-2" *ngFor="let course of currentUser?.courses">
          {{course.name}} &nbsp;
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="password">密码：</label>
      </div>
      <div class="col-md-8">
        <div id="password">
          <a class="btn btn-primary btn-sm1 mr-2" routerLink="/personal/modifyPassword">
            <i class="fas fa-edit"></i>
            修改
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row mt-4">-->
  <!--<div class="col-md-4 offset-md-2">-->
    <!--<div class="row">-->
      <!--<div class="col-md-8 offset-md-2">-->
        <!--<a class="btn btn-primary btn-sm mr-2" routerLink="/personal/modifyPassword">-->
          <!--<i class="fas fa-edit"></i>-->
          <!--修改密码-->
        <!--</a>-->
        <!--&nbsp;-->
        <!--<a class="btn btn-primary btn-sm mr-2" routerLink="/personal/modifyPhone">-->
          <!--<i class="fas fa-edit"></i>-->
          <!--修改手机号-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
